* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #bde9c3;
}

#title {
  margin-top: 40px;
  text-align: center;
}

/* img {
  max-width: 100%;
} */

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  border: 1px solid #353b6e;
  border-radius: 4px;
  color: #f7f7f7;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  background-color: rebeccapurple;
}

.gallery {
  /* display: flex;
  flex-direction: column; */
  max-width: 22vw;
  min-height: 25vh;
}

.frames {
  max-width: 22vw;
  min-height: 25vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.photo {
  position: relative;
  display: inline-block;
  margin-bottom: 2.2vh;
  /* width: 800px;
  height: 600px; */
}
.photo img {
  height: 28vh;
}

p {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

#app.upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: #bde9c3;
  color: #0b48d8;
}

#app.upload canvas {
  /* border: 4px solid #0b48d8; */
}

#app.upload p {
  color: #0b48d8;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#app.upload #container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-bg--balloons {
  position: absolute;
  z-index: 1;
  width: 40%;
  top: 4vh;
  right: -7vw;
}

/* @media only screen and (max-width: 1400px) {
  .upload-bg--balloons {
    top: -9vh;
    right: -7vw;
  }
}

@media only screen and (min-width: 1500px) {
  .upload-bg--balloons {

  }
} */

.upload-bg--one {
  position: absolute;
  z-index: 1;
  width: 20%;
  left: 3vw;
  bottom: 1vh;
}

.upload-logo-container {
  display: flex;
  justify-content: center;
}

.upload-logo {
  width: 30%;
}

#app.wall {
  background: #bde9c3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0px 3vw;
  justify-content: space-around;
}

#app.wall img {
  /* border: 4px solid #0b48d8; */
  width: 100%;
  object-fit: contain;
}

#app.wall img#pusher {
  border: none;
  width: auto;
  margin-top: 2em;
}

.big-wrapper {
  margin: 0 auto;
  display: flex;
}

.big {
  width: 60vw;
  position: relative;
  margin: 2.5em 0;
  align-self: center;
}

/* @media only screen and (min-width: 1300px) {
  .big {
    align-self: baseline;
  }
} */

.big img {
  height: 70vh;
}

.big-frame {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  height: 28vh;
}

.big-frame img {
  width: 30vw;
}

.big .text {
  background: #fdc6c4;
  border: 4px solid #0b48d8;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  color: #0b48d8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.big .text * {
  text-align: center;
}

.big .text h1 {
  margin-top: 0;
}

.big .text p {
  margin-bottom: 0;
}

.wall .gallery img:first-child,
.wall .gallery img:nth-child(n + 5) {
  display: none;
}

#pusher {
  height: 2em;
  text-align: center;
}

.secondary-photos--frames {
  z-index: 100;
  position: absolute;
  z-index: 1000000;
  right: 6vw;
}

.secondary-photos {
  margin: 2.5em 0;
}

.photo {
  position: relative;
  display: inline-block;
  margin-bottom: 2.2vh;
  object-fit: cover;
  /* width: 800px;
  height: 600px; */
}
.photo img {
  height: 28vh;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.big-photo {
  object-fit: cover;
}

.upload-frame {
  z-index: 10;
  position: absolute;
  height: 28vh;
  height: 600px;
}

.upload-bg--balloons {
  position: absolute;
  z-index: 1;
  width: 30%;
  top: 3vh;
  right: -13vw;
}

.upload-bg--one {
  position: absolute;
  z-index: 1;
  width: 40%;
  left: 3vw;
  bottom: -10%;
}

@media only screen and (min-width: 1300px) {
  .upload-bg--one {
    bottom: -30%;
  }
}
